body
{
    background-color: plum;
    color: black;
}
p 
{
    font-family: 'Times New Roman', Times, serif;
}
.incorrect
{
    color: red;
}
.correct
{
    color: greenyellow;
}
.default
{
    color: black;
}
.perfect
{
    color: gold;
}
.pass
{
    color: greenyellow;
}
.fail
{
    color: red;
}
.submitButton
{
    text-align: center;
}
h1
{
    text-align: center;
}
button[type="button"]
{
    background: cyan;
    color: black;
}