body
{
    background-color: plum;
    color: black;
}
p 
{
    font-family: 'Times New Roman', Times, serif;
}
.incorrect
{
    color: red;
}
.correct
{
    color: greenyellow;
}
.default
{
    color: black;
}
.result
{
    display: none;
}
.submitButton
{
    text-align: center;
}
h1
{
    text-align: center;
}
input[type="submit"]
{
    background: cyan;
    color: black;
}