@model HW4Project.Models.Color;
@{
    ViewData["Title"] = "CS 366 HW4";
    string hexCode = @Model.RGBToHex();
}

<div class="text-title">
    <h1>Enter an RGB Color to see what it looks like!</h1>
</div>


<form asp-action="RGBColor" method="get">
    <div class="row">
        <div class="col-md-4">

            <div class = "row form-group">
                <label for="red" class="text-label col-form-label">R</label>
                <input type="number" id="red" name="red" class="input-box" min=0 max=255 />
            </div>

            <div class = "row form-group">
                <label for="green" class="text-label col-form-label">G</label>
                <input type="number" id="green" name="green" class="input-box" min=0 max=255 />
            </div>

            <div class = "row form-group">
                <label for="blue" class="text-label col-form-label">B</label>
                <input type="number" id="blue" name="blue" class="input-box" min=0 max=255 />
            </div>

            <div class = "row form-group">
                <button class="rounded btn-primary" type="submit">Display</button>
            </div>

        </div>

        <div class="col-md-2 current-color" style= "background-color: #@hexCode;">
        </div>

    </div>


</form>

<div class="hex-code">
        #@hexCode
</div>