@{
    ViewData["Title"] = "CS 366 HW4";
}

<div class=row>
    <h1>Interpolate from one color to another</h1>
</div>

<div class="row">
    <div class="col">
        <p>Please enter colors in HTML hexadecimal format #AABBCC</p>
    </div>
    <div class="col">
        this is where the colors will go
    </div>
</div>

<div class="row form-group">
    <label for="firstColor" class="col-form-label">First Color</label>
</div>
<div class="row form-group">
    <input type="text" id="firstColor" name="firstColor" class="input-box" />
</div>

<div class="row form-group">
    <label for="secondColor" class="col-form-label">Second Color</label>
</div>
<div class="row form-group">
    <input type="text" id="secondColor" name="secondColor" class="input-box" />
</div>

<div class="row form-group">
    <label for="numColors" class="col-form-label">Number of Colors</label>
</div>
<div class="row form-group">
    <input type="text" id="numColors" name="numColors" class="input-box" />
</div>

<div class="row form-group">
    <button class="rounded btn-primary" type="submit">Generate Colors</button>
</div>