@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title> Film Library </title>
    </head>
    <body>
        <h1>Film Library</h1>
        <table>
            <thead>
                <tr><th>Movie Title</th><th>Genre</th><th>Movie Length</th><th>Quantity</th>
            </thead>
        </table>
    </body>
</html>